<div *ngIf="currentTutorial" class="edit-form">
 
  <form >
    <br/>
  <h1 >{{ currentTutorial?.title }}</h1>
  <br/>
  <div *ngIf="currentUser" >
    <span>Published BY: </span>
     <span>{{currentUser.first_name}} </span>
     <span>{{currentUser.last_name}}</span>
   </div>
   <div *ngIf="currentFaculty">
    <span>Faculty: </span>
     <span>{{currentFaculty.facultyName}} </span>
   </div>
  
    <img [src]="currentTutorial?.img"  alt="Norway" class="w3-hover-opacity" >
    <br/>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentTutorial.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea matInput rows="4"
        class="form-control"
        id="description"
        [(ngModel)]="currentTutorial.description"
        name="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <input
        type="url"
        class="form-control"
        id="link"
        [(ngModel)]="currentTutorial.link"
        name="link"
      />
    </div>

  
  </form>


  <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
    Delete
  </button>
  <span>  </span>
  <button type="submit" class="badge badge-success" (click)="updateTutorial()">
    Update
  </button>

  <p>{{ message }}</p>
</div>
<br />
<br />
<br />
<div *ngIf="!currentTutorial">
 
  <p>Cannot access this Tutorial...</p>
</div>
